# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
[Ll]ibrary/
sysinfo.txt

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
/*.userprefs
/*.csproj
/*.pidb
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
Library/assetDatabase3
Library/assetDatabase3
Library/assetDatabase3
Library/metadata/80/80a3616ca19596e4da0f10f14d241e9f
Library/metadata/81/815347a759b67204ca12e9481b5b12ae
Library/metadata/80/80a3616ca19596e4da0f10f14d241e9f
Library/metadata/80/80a3616ca19596e4da0f10f14d241e9f
Library/ScriptAssemblies/CompilationCompleted.txt
Library/metadata/f7/f7bf87ea886bc12458bf74eae3bd5d2e
Library/metadata/f7/f7bf87ea886bc12458bf74eae3bd5d2e
Library/metadata/80/80a3616ca19596e4da0f10f14d241e9f
Library/metadata/d9/d9e5d80ac6f50c14fb5f9d6d5fb5c0eb
